@import "./variables.scss";
@import "./weathercast.scss";

body {
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #031722;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}




